<div class="comment clearfix">
  <div class="comment_author_time">
    <%= author_link_for_comment(comment) %><br/>
    <%= distance_of_time_in_words_to_now( comment.created_at ).capitalize %> ago
  <% if is_owner? %>
    <br/><%= link_to 'Delete', "#{params[:dl_sig_root_loc]}/destroy_comment/#{comment.id}", :confirm => "Are you sure you want to delete this comment?", :method => :post  %>
    
  <% end %>

  </div>
  <div class="comment_contents">
    <div class="comment_content"><%= h comment.content %></div>
  </div>
</div>
