<div class="section">
<h1>You found a Deluux blog.</h1>

<p>
<%= link_to "Install Now", "#{deluux_loc}apps/#{app_id}/prompt" %>
</p>
</div>

<div class="section">
  <div class="subsection">
  <h2>We have many features!</h2>
  </div>
  <ol class="offset">
    <li>Reverse Order aka Reverse Cron</li>
    <li>More than one entry!</li>
  </ol>
</div>