body{
  text-align:left; /* turn off weird YUI things */
  font-size: 62.5%;
}
th,td {border:0em}

#doc.yui-ge {
  width:60em;
}
p{
  font-size:1.2em;
}

.links li{
  margin:0.2em 0.2em 0.2em 0em;
  padding:0.3em 0.3em 0.3em 0em;
  display:inline;
}

table.gridlayout{
  width:100%;
}
.gridlayout td{
  text-align:center;
}

ul.rowed{
  margin:0em;
  padding:1em 0em;
}
.rowed li{
  margin:0.3em 1em 0.3em 0em;
  display:inline;
}
ul.nobullets {
  margin-left: 0;
  padding-left: 0;
}
ul.nobullets li {
  list-style: none;
  margin:0em;
  padding:0em 1em 0em 0em;
}


/*delete this*/
.clearfix:after {
clear:both;
content:".";
display:block;
height:0pt;
line-height:0pt;
visibility:hidden;
}
.clearfix {
display:inline-block;
}
html[xmlns] .clearfix {
display:block;
}
* html .clearfix {
height:1%;
}

/* warnings / flashes */
.warning p {
  padding-bottom: 0em;
}

/* edit in place, like image titles */
.edit_in_place_box {
  width: 100%;
  min-width:5.4em;
  min-height:2.4em;
  padding:0.6em 0.6em; /* Please do not change this without testing, it fixes pagejumping */
  margin: 0.1em;
}

.edit_in_place_box:hover {
  min-width:5.4em;
  min-height:2.4em;
  padding:0.4em 0.4em 0.4em 0.4em;
  border:0.2em solid #DDDDDD;
  background-color: #FFFFB7;
}

/* for public viewing, provides same spacing as edit in place box for consistency */
.edit_in_place_spacing {
  margin:0.1em;
  min-height:2.4em;
  min-width:5.4em;
  padding:0.6em;
  width:100%;
}

div.drop_area {
  background-color: #DDDDDD;
  background-image: url(/images/album_edit/album_drop_target.gif);
  background-repeat: no-repeat;
  background-position: center;
  border: 0.2em solid #000000;
  min-height: 15em;
}

div.area_label {
  width: 100%;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5em;
  padding-top: 1em;
}

/* image front page and show */
#nextprev:after{
  clear:both;
}

div.thumb {
  float:left;
  width:7.0em;
  height:7.0em;
  overflow:hidden;
  background-color:#333333;
  border:.4em solid white;
}

#friends div.thumb {
  float:left;
  width:7.0em;
  height:7.0em;
  overflow:hidden;
  background-color:#333333;
  border:.4em solid white;
}

#nextprev div.thumb {
  float:left;
  width:7.0em;
  height:7.0em;
  overflow:hidden;
  background-color:#333333;
  border:.4em solid white;
}

.editoptions{
  float:right;
  font-size:1.2em;
}
.editoptions a{
  margin:0em 0.3em;
}

ul.suboptions{
  margin-top:1em;
}
ul.suboptions li{
  list-style: none;
  display:inline;
}
ul.suboptions a{
  padding-top:1em;
  padding-right:1em;
  font-size:1.2em;
}

/* Comment Styling */

.comment {
  padding: 0.7em 0em;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  border-bottom:1px solid #F0F0F0;
}

.comment_title {
  font-weight: bold;
}

.comment_author_time {
  font-style: italic;
  width:9em;
  float:left;
}

.comment_contents{
  float:left;
  position:absolute;
  margin-left:11em;
}

#comment_form input {
  font-size: 1.5em;
}

#comment_form input#title {
  width: 100%;
}

#comment_form textarea {
  width: 50em;
}


td.asset_title{
  text-align:center;
}

.pager li{
  display:inline;
  margin:0.2em;
  padding:0.3em;
}

.pager a{
  text-decoration:underline;
}
.pager{
  float:right;
}

.pager .current a{
  text-decoration: none;
}

.errorExplanation li{
  margin-left:1.5em;
}

/*
 * Edit in place for unit title / description (album and asset)
 */

div.title form.inplaceeditor-form input.editor_field {
  width: 60%;
  font-size: 1em;
}

div.title form.inplaceeditor-form input.editor_ok_button {
  margin-left: 1em;
  font-size: 1em;
}

div.title form.inplaceeditor-form a.editor_cancel_link {
  margin-left: 1em;
  font-size: 1em;
}

/* ASSET DEFAULT CSS FILE START */
textarea {
  margin-top: 1em;
  margin-bottom: 1em;
}

textarea.editor_field {
  width: 99%;
}
/* ASSET DEFAULT CSS FILE END */

.label {
  position: absolute;
  background-color:white;
  color:black;
  padding:0.3em;
}

/* forcing colors for (ex: black) themes, it was worse before */
.tip_section{
  background-color:white;
  padding:3px;
}

.rightheader{
  float:right;
}


