/* LAYOUT */
#doc, #doc2, #doc3 {
  background-color: white;
  padding: 1.0em 1.0em 5.0em 1.0em;
}

#hd{
  margin-bottom:2.0em;
}

/* FONTS */

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1.2em;
}

p {
  margin: 0.5em 0;
  padding-bottom: 0.5em;
}

.fieldWithErrors {
  border-left:0.2em solid #e75c58;
  padding-left: 0.2em;
}

table td,
table th {
  padding: 0.5em;
}

#flash, .flash {
  padding: 1em;
  background-color: #ff9;
  margin: 1em 0em;
}

div.overlay {
  background-color:#FFFFFF;
  left:0px;
  opacity:0.9;
  position:fixed;
  top:0px;
  z-index:1000;
  width:100%;
  height:100%;
}

.tooltip {
  background-color:#FFFFFF;
  height: 8em;
  padding:2em;
  position:absolute;
  z-index:10000;
}

.warning{
  padding: 1em;
  background-color: #ff9;
  margin: 1em 0;
}
.action_call{
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#ft{
  margin-top:2.0em;
}
html{
  color:#333;
}
body{
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
  text-align:left;
}

a {
  color:#0000F0;
}

#doc, #doc2, #doc3, #doc4{
  padding-top:3em; /* prevent conflict with header */
}

/*-------------------------------------------
  Content
 -------------------------------------------*/

#content h1 {
  padding-left: 14em;
}

#breadcrumb_trail {
  font-size: 1.5em;
}

#assets_list td, th{
  border:0em;
  width: 14.0em;
}
.assets{
  text-align:center;
}
.assets .photo td{
  padding:0.7em 0em;
}
#assets_list .photo_titles td, th{
  border:0em;
  width: 14.0em;
  padding-bottom:1.5em;
  font-size:1.1em;
}
#assets_list img{
  border:0.1em solid white;
}

#albums_list{
  text-align:center;
}
#albums_list table{
  width:100%;
}
#albums_list td, th{
  border:0em;
  margin:0em;
  padding:0em;
}
#albums_list .album_title{
  margin:0em;
}
#albums_list h2{
  padding:0em;
  margin:0.5em 0em;
}
#albums_list .album_description td{
  padding-bottom:1.5em;
}

.gridlayout td{
  text-align:center;
  border:0em;
}

#loginlinks{
  margin:0.5em 0em;
}
#loginlinks ul,a{
  padding:0em;
  margin:0em;
}
#loginlinks li{
  padding-left:0em;
  padding-right:1em;
  font-size:1.3em;
}

.friends .thumb{
  width:4em;
  height:4em;
}

div#header{
  font-size:2em;
}
.weak{
  font-size:0.85em;
}

.current a{
  text-decoration:none;
}

.themes .theme_thumb{
  text-align:center;
}

div.picture_row{
        clear: both;
        min-height: 13em;
}

div.picture{
        width: 12em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        float: left;
        text-align: center;
        position: relative;
        align: center;
}

div.picture table {
        height: 18em;
        width: 13em;
}

div.picture td {
        border: 0em;
        padding: 0em;
}

td.picture_title {
        height: 20%;
        vertical-align: top;
}

#photos img {
padding:0.6em;
background:white none repeat scroll 0%;
}

#photos img#photo{
border:0.1em solid #CCCCCC;
max-width:500px;
}

#photos div{
padding:0.3em 0.2em;
text-align:center;
/*vertical-align:middle;*/
}

#nextprev{
}

#doc3{
        margin:0em;
}


.handle{
  left:0em;
}

#static_page_creator input {
        font-size: 2.5em;
}

#static_page_creator p {
        font-size: 2em;
        text-align: center;
}

input#page_title{
        width: 100%;
        margin-bottom: 2.5em;
}

input#page_create_fp_link {
        margin-bottom: 0.5em;
}

.page_section{
  clear:both;
  margin-bottom:2em;
}


#profilepic .photo{
  width:20em;
  height:18em;
}

/*
 * USER_ASSETS VIEW CSS FOLLOWS:
 */

.center {
  font-weight: bolder;
  text-align: center;
}

#photo_description {
                   font-size: 1.5em;
                   width: 33.7em;
}

#photo_description span {
                   font-style: italic;
}


ul#profileitems {
  margin-left: 0;
  padding-left: 0;
}

ul#profileitems li {
  list-style: none;
  margin:0em;
  margin-bottom:0.6em;
  padding:0em 1em 0em 0em;
  font-size: 2em;
}

ul#uploadchoices{
  margin-left: 0;
  padding-left: 0;
  padding-bottom:2em;
}

ul#uploadchoices li{
  margin-left: 3em;
  padding:1em 0em 2em 1em;
  font-size:1.4em;
  line-height: 2.0em
}

/* attempt at labels */
#photos .label{
z-index:10;
}

#photos div.label:hover{
color:red;
display:block;
}

/* Auto-complete for person-tagging */
.owner{
  width:100%;
  padding:0em 0.5em;
  border-bottom:1px solid #ccc;
  margin-bottom:1em;
  text-align:right;
}

.app{
  margin-bottom:1em;
}

.application{
  margin-top:1em;
  margin-bottom:2em;
}
.steps{
  margin-left:3em;
  font-size:1.4em;
}
.steps li{
  margin-bottom:0.6em;
}

.feedtitle{
  text-align:center;
}

.toppad{
  margin-top:1em;
}

div.friend{
  margin-bottom:10px;
}

/* link edit page */
#links {
  font-size:1.4em;
}
#links .link_edit_link{
  position:absolute;
  margin-left:15em;
}
#links .link_destroy_link{
  position:absolute;
  margin-left:19em;
}

#links .link{
      margin-bottom:2em;
      margin-left:7em;
      width:40em;
}


/* themes */

h1.section{
  border-bottom:0.1em solid gray;
}
h2.section{
  border-bottom:0.1em solid gray;
}
div.section{
  margin-bottom:3em;
}
div.subsection{
  margin-bottom:1em;
}
.subsection h3{
  font-weight:bold;
}
.prompt{
  display:inline;
}
.tabs li{
  display:inline;
}

.offset li{
  margin-left:2em;
}

#deliciousdesc li{
  margin-left:2em;
}

#tumblrdesc li{
  margin-left:2em;
}

/* admin */
.admin_only{
  border:0.3em solid red;
}

/* generic buttons */
a.new{
  text-decoration:underline;
  background-color:#fee876;
  padding:0.8em;
  border:0.1em solid #ecc101;
  color:#994800;
}

/* front page intro */
#intro h1{
  margin-bottom:0.8em;
  font-size:1.7em;
}

/* Friends and Contacts management */

.friends_index h1 {
   text-align:center;
   font-size:2.5em;
   padding-bottom: 2em;
}

.friends_index #connections {
   padding-bottom : 2em;
}

.friends_index #new_friend_link {
   font-size:2em;
   text-align:center;
}

.friends_index #friend_of_friend_links {
   font-size:2em;
   text-align:center;
}

/* full width form - spread out to the width */
.fullwidthform textarea{
  width:100%;
}
.fullwidthform textfield{
  width:100%;
}
.fullwidthform .submit_tag{
  float:right;
}